export WORK_DIR="$PWD"
export ISTIO_9_VERSION=1.9.7
export ISTIO_9_REVISION=1-9-7
export ISTIO_9_DIR=$WORK_DIR/$ISTIO_9_REVISION
export ISTIO_10_VERSION=1.10.3
export ISTIO_10_REVISION=1-10-3
export ISTIO_10_DIR=$WORK_DIR/$ISTIO_10_REVISION